@charset "EUC-KR";

p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}


.myform{
	margin:10px;
	width:380px;
	padding:14px;

	float: center;
	margin-left: auto;
	margin-right: auto;
	 z-index:0;
	
	
}

#stylized{
	border:solid 2px #b7ddf2;
	background:#ebf4fb;
	background-image: url("../member/images/joinformbg.jpg");

	
}
#stylized h1 {
	font-size:16px;
	font-weight:bold;
	margin-bottom:8px;
	font-family:nanumgothic,dotum;

}
#stylized p{
	font-size:11px;
	color:#ffffff;
	margin-bottom:20px;
	border-bottom:solid 1px #b7ddf2;
	padding-bottom:10px;
	font-family:dotum;
}
#stylized label{
	display:block;
	color:#ffffff;
	font-weight:bold;
	text-align:right;
	width:140px;
	float:left;
	font-family:tahoma;
}
#stylized .small{
	color:#ffffff;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:140px;
	font-family:dotum;
	letter-spacing:-1px;
}
#stylized input{
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:150px;
	margin:2px 0 20px 10px;
}
#stylized button{
	clear:both;
	margin-left:150px;
	width:150px;
	height:28px;
	text-align:center;
	line-height:31px;
	background-color:#000;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
	font-family:tahoma;
}

.checkbtn {
    background-color: #000000;
    border: none;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-valign: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 5px;
    cursor: pointer;
    margin-top:2px;
}
